<%= form_for(@recurring_transaction) do |f| %>
  <legend></legend>
  <%= f.hidden_field :user_id %>

  <div class="form-group">
    <%= f.label :transaction_type, 'Type' %>
    <%= f.select :transaction_type, [ [:paycheck, 'Paycheck'], [:bill, 'Bill'] ] %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, :class => 'form-control', :placeholder => 'Description' %>
  </div>

 <div class="form-group">
    <%= f.label :amount %>
    <%= f.text_field :amount, :class => 'form-control', :placeholder => 'Description' %>
  </div> 

  <div class="form-group">
    <label>Occurs</label>
  </div>

  <div class="radio">
    <label class="radio-inline">

    <input type="radio" name="schedule[schedule_type]" value="weekly" />
 
        Every
        <input type="text" placeholder="2" style="width:40px">
        weeks on
        <select name="schedule[day_of_week]">
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
        starting from <input name="schedule[start_on]"type="date" placeholder="1/1/2014">
    </label>
  </div>

   <div class="radio">
    <label class="radio-inline">

      <input type="radio" name="schedule[schedule_type]" value="monthly" />
      On the
      <input type="text" name="schedule[day]" placeholder="1st" style="width:40px"> of each month
    </label>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=> 'btn btn-primary' %>
  </div>

<% end %>